@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicLayout.cshtml";
}

    <div class="jumbotron">
        <h1>@StudentActivity.Resources.Language.JUC_Activities_Website</h1>
        <p class="lead">@StudentActivity.Resources.Language.JUC_intro</p>
    </div>
<img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3
     col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-8"
     alt="Juc logo" src="/images/Juc logo.png" />
@*
        <div class="row" style="margin-right: 100px;">
            <div class="col-md-6"><button>Mechanical Engineering</button></div>
    </div>*@