body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error{
    color: red;
}

.input-validation-error{
    border: 2px solid red;
}

.btn-left{
    width: 20%;
}

.btn-blue {
    color: #ffffff;
    background-color: #3f7aab;
    border-color: #3f7aab;
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #356a96;
    border-color: #356a96;
}

.btn-retrieve {
    width: 24.5%;
}

.btn-redish {
    color: #ffffff;
    background-color: #f23860;
    border-color: #f23860;
}

.btn-redish:hover {
    color: #ffffff;
    background-color: #de2f54;
    border-color: #de2f54;
}


.table-short{
    width:35%;
}

.row-center{
    text-align:center;
}

.li-right{
    left:670px;
}

body {
    background-image: linear-gradient(to right,rgba(255,0,0,0), rgba(219,64,110,0.115));
}

.cus-images {
    max-height:100%;
    max-width: 100%;
    margin:auto;
    height:400px;
    width: 400px;
    overflow:hidden;
    
}
