@model IEnumerable<StudentActivity.Models.Student_Program>

@{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishAdminLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "ClubCorHome", "Home")</li>
        </ul>
    </div>
}

<h2>@StudentActivity.Resources.Language.Registered_Programs</h2>
<table class="table table-striped table-hover">




    <button type="button" class="btn btn-primary" data-toggle="modal">
        Details
    </button>

    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center" id="exampleModalLabel"></h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <tr class="danger">
                            <td class="row-center"></td>
                            <td class="row-center">@</td>
                        </tr>

                        <tr>
                            <td class="row-center"></td>
                            <td class="row-center">@</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    @section scripts
{
        @Scripts.Render("~/Scripts/Alert.js")

    }
