
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h2>Admin Home Page</h2>
    <ul>
        <li >
            You can create and manage all programs
        </li>
        <li>
            You can see the student list for a program
        </li>
        <li>
            You can manage the eligiblity of students
        </li>
        <li>
            You can Manage create and manage the clubs
        </li>
        <li>
            You can approve or reject any requested program from
            club coordinator
        </li>
    </ul>
    <hr />
</div>


<img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3
    col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-8"
        alt="Juc logo" src="/images/Juc logo.png" />
