@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jubail University College Activities Website</h1>
    <p class="lead">This Website is going to allow the student to register for programs, and print them later on.</p>
</div>

<img class="cus-images img-responsive" alt="Juc logo" src="/images/Juc logo.png"/>