@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jubail University College Activities Website</h1>
    <p class="lead">This Website is going to allow the student to register for programs, and print them later on.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Log in</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Register</a></p>
    </div>
</div>