@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jubail University College Activities Website</h1>
    <p class="lead">This Website is going to allow the student to register for programs, and print them later on.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Log in","Login","Account", new {@class="btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-default" })
    </div>
</div>