
@{
ViewBag.Title = "StudentHome";
Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div>
    <h2>Student Home Page</h2>
    <ul>
        <li>
            You can register in any available program
        </li>
        <li>
            You can view all registered programs
        </li>
        <li>
            You can join a club
        </li>
        <li>
            You can print a certificate for any completed program
        </li>
    </ul>
    <hr />
</div>

<img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3
col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-8"
        alt="Juc logo" src="/images/Juc logo.png" />