@model IEnumerable<StudentActivity.Models.Student_Club>

@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_ClubCorLayout.cshtml";
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("+ Join a club", "AddStuClubs", "Club", new { @class = "btn btn-blue btn-left" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Club.Name
            </td>
            <td>
                @Html.ActionLink("Leave", "DeleteStuClub", "Club", new { studentId = item.StudentId, clubId = item.ClubId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>