<!-- Container (Services Section) -->

<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>Programs</h4>
            <p>We provide different kinds of programs such as courses, out-side visits, and activities..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Trying our best to provide whatever students want with depending on their wishes..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>Mobility</h4>
            <p>We provide many services through our website to make student's life easier..</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>Connectivity</h4>
            <p>We keep in touch with students through our website by providing a special page to show the latest news in the university..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>We offer an easy way for students who completed any program to print their Certification for these programs whenever and from wherever they want..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Putting more effort on developing our services to serve students in an easy way..</p>
        </div>
    </div>
</div>
