<!-- Container (About Section) -->
<div id="Home" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Student's Activities</h2><br>
            <h4>Student's Activities is a part of the Student's Affairs, which is a department of the university that serves as the gate between the student and the academic departments.</h4><br>
            <p>The main goal of Student's Activities is to make the lives of the students easier and more interesting while they are studying at the university by providing special programs such as courses, visits, and activities that support the students in their studies</p>
            <br><button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong> Our mission is to make Student's life easier and funnier.</h4><br>
            <p>
                <strong>VISION:</strong> Our vision is to graduate qualified students with both academic and communicate skills that will help them to succeed in their own lives.
            </p>
        </div>
    </div>
</div>
