<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Portfolio</h2><br>
    @*<h4>What we have created</h4>*@
    <div class="row text-center slideanim">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/JUCGate1.JPG" alt="JUCGate" width="400" height="300">
                <p><strong>JUCGate</strong></p>
                <p>The Main Gate of JUC</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/program.JPG" alt="program" width="400" height="300">
                <p><strong>Program</strong></p>
                <p>A program in the MPH</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/Visit.jpg" alt="Visit" width="400" height="300">
                <p><strong>Visit</strong></p>
                <p>A Site Visit done by Civil Club</p>
            </div>
        </div>
    </div><br>

    <h2>Messages from our us..</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"This Website is Made for JUC Students By JUC Students. We Are so happy with this result!"<br><span>Mohammed, Developing leader</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span>Ahmed, Developer</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this Achievement?"<br><span>Someone, Developer</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
